<div class="container page-header">
    <h1>Web前端开发技术学习交流平台</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/HTML.jpg" alt="">
                <div class="caption">
                    <h3>HTML\HTML5</h3>
                    <p>超文本标记语言(HyperText Markup Language)，标准通用标记语言下的一个应用。</p>
                    <p><a href="/study" class="btn btn-primary" role="button">GO!</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/CSS3.jpg" alt="">
                <div class="caption">
                    <h3>CSS\CSS3</h3>
                    <p>层叠样式表(英文全称：Cascading Style Sheets)一种用来表现HTML或XML等文件样式的计算机语言。</p>
                    <p><a href="/study" aria-controls="css" data-toggle="/study/tab" id="homeCSS" class="btn btn-primary" role="button">GO!</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/js.jpg" alt="">
                <div class="caption">
                    <h3>JavaScript</h3>
                    <p>JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。</p>
                    <p><a href="/study" class="btn btn-primary" role="button">GO!</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>HTML5&nbsp;+&nbsp;CSS3&nbsp;+&nbsp;JavaScript&nbsp;+&nbsp;...</p>
        <br/><br/><br/>
        <p style="text-align:center"><a class="btn btn-default btn-lg" href="/study" role="button">开始学习</a></p>
    </div>
</div>
